Package: python-pyrex
Source: pyrex
Version: 0.9.9-1
Architecture: all
Maintainer: Paul Brossier <piem@debian.org>
Installed-Size: 741
Depends: python2.7, python:any (<< 2.8), python:any (>= 2.7~), python-dev
Recommends: python-all-dev
Provides: python2.7-pyrex
Section: python
Priority: optional
Homepage: http://www.cosc.canterbury.ac.nz/greg.ewing/python/Pyrex/
Description: compile native-code modules for Python from Python-like syntax
 Pyrex lets you write code that mixes Python and C data types any way you want,
 and compiles it into a C extension for Python.
 .
 You can get very large speedups for tasks that don't need all the dynamic
 features of Python, with very small differences in syntax and much less
 hassle than writing your modules from scratch in C.
